header {
  height: 90px;
  width: 95vw;

  nav {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .h-btn {
      width: 120px;
      height: 30px;
      background-color: transparent;
      border: 1px solid #665db2;
      border-radius: 10px;
      a {
        cursor: pointer;
        text-decoration: none;
        color: white;
      }
    }
    .arrow {
      width: 18px;
      height: 18px;
      color: white;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        list-style: none;
        text-align: center;
        justify-content: center;
        padding: 0 9px 0 9px;
        cursor: pointer;
        color: white;
      }
    }
  }
}
