* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f5fc;
  background-image: url("../images/banner-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: 400vh;
  font-family: "Lexend", sans-serif;
}
